<!doctype html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<style>
body,i{
	margin:0;
	padding:0;
	font-style:normal;
}
</style>
<script src="课件/angular/angular-1.5.8/angular.min.js"></script>
<script>
	var app=angular.module('myApp',[]);
	app.controller('buyCar',function($scope){
		$scope.arr=[
			{name:'西红柿',price:2.3,count:3},
			{name:'白菜',price:4,count:5},
			{name:'青菜',price:1,count:9}
		];	
		$scope.sum=function(){
			var res=0;
			var arr=$scope.arr;
			for(var i=0;i<arr.length;i++){
				res+=arr[i].price*arr[i].count;
			}
			return res;
		};
	});
</script>
</head>

<body>
<div ng-controller="buyCar">
	<ul>
    	<li ng-repeat="item in arr">
        	<span>{{item.name}}</span>
            <i>{{item.price|currency:'¥'}}</i>
            <input type="number" min=0 ng-model="item.count"/>斤
            <span>{{item.price*item.count|currency:'¥'}}</span>
        </li>
    </ul>
    <h3>总计:{{sum()|currency:'¥'}}</h3>
</div>
</body>
</html>
